@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>No Assigned Theater</h4>
    <hr />
    <p>
        You have not yet been assigned to a theater. Please contact an adminstrator.
    </p>
</div>
<div>
    <a asp-controller="Home">Back to Home Page</a>
</div>
